// bower:scss
@import 'bourbon';
@import 'neat';
// endbower 
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$orange: #F26722;
$blue: #263692;
$gray: #666666;
$gray-light: #eeeeee;

$md-screen: rem(641);
$lg-screen: rem(1025);
$xl-screen: rem(1441);


/*===========================
Base
===========================*/
body {
	font-family: 'Lato', $helvetica;
	background-color: #FFF;
}

a {
	color: $orange;
	text-decoration: none;
	&:hover {
		color: darken($orange, 10%);
	}
}

h2 {
	font-size: rem(32);
	font-weight: 400;
	margin: 0;
}

img {
	width: 100%;
	max-width: 100%;
}

.container {
	@include outer-container(900px);
}

/*===========================
Header
===========================*/
#branding {
	width: 80%;
	max-width: rem(350);
	margin: rem(25) auto rem(20);
	@include media($md-screen) {
		margin: rem(36) auto rem(42);
	}
}

#navigation {
	background: $blue;
	text-align: center;
	@include clearfix;
	overflow: hidden;
	a {
		color: $gray-light;
	}
}

#menu-toggle {
	display: block;
	padding: rem(12) 0;
	font-size: rem(22);
	font-weight: 300;
	&:focus {
		background: $blue;
	}
	&:hover, &.active {
		background: $orange;
	}
	@include media($md-screen) {
		display: none;
	}
}

#main-menu {
	display: none;
	font-size: rem(22);
	font-weight: 300;
	padding: 0;
	margin: 0;
	@include media($md-screen) {
		display: inline-block !important;
		list-style: none;
		margin: 0 auto;
		overflow: hidden;
	}
	> li {
		display: block;
		list-style: none;
		@include media($md-screen) {
			float: left;
			margin: 0 rem(20);
		}
		@include media($lg-screen) {
			margin: 0 rem(40);
		}
		@include media($xl-screen) {
			margin: 0 rem(50);
		}
		> * {
			display: block;
		}
		a {
			@include transition(background 0.2s $ease-out-quad);
			padding: rem(12) 0;
			&:hover, &:focus {
				background: $orange;
				@include media($md-screen) {
					color: $orange;
					background: $blue;
				}
			}
		}

	}
}


/*===========================
Banner
===========================*/
#banner {
	position: relative;
	@include media($md-screen) {
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
		margin-bottom: rem(20);
	}
}

.banner-content {
	@include media($md-screen) {
		position: absolute;
		top: 0;
		left: 0;
		width: 45%;
		max-width: rem(300);
		height: 100%;
		background: rgba(242, 103, 34, 0.75);
		padding: rem(15) rem(20);
	}
	@include media($lg-screen) {
		width: 33.333%;


	}
	> h2 {
		color: $orange;
	}
	> p {
		color: $gray;
	}
	> h2, > p {
		@include media($md-screen) {
			color: white;
		}
	}

}


/*===========================
Main Content
===========================*/
#main {
	.container {
		padding: 0 rem(20);
	}
	@include media($md-screen) {
		padding-bottom: rem(30);
	}
}

#content {
	p {
		color: $gray;
	}
	h2 {
		color: $orange;
	}
	@include media($md-screen) {
		@include span-columns(8);
	}
}

#sidebar {
	margin-bottom: rem(20);
	@include media($md-screen) {
		@include span-columns(4);
		@include omega();
	}
}

#news {
	@include clearfix;
	background: $blue;
	color: $gray-light;
	padding: rem(10);
	.more {
		float: right;
	}
	h2, p {
		color: white;
	}
}


/*===========================
Footer
===========================*/
#footer {
	background: $gray;
	color: $gray-light;
	text-align: center;
	padding: rem(8) 0 rem(7);
	p {
		font-size: rem(14);
	}
}